/* Filter styles. */
.account-sentinel-filter-fields {
  float: none;
  clear: both;
}

.account-sentinel-filter-actions {
  float: none;
  clear: both;
}

/* Table styles */
.account-sentinel-table tr {
  border-bottom: 1px solid #dbdbdb;
}

.account-sentinel-table tr:last-of-type {
  border-bottom: none;
}

.account-sentinel-table tr.origin--database td.col--by {
  color: #680308;
}

.account-sentinel-table tr.origin--database.odd td.col--by {
  background-color: #ffe1e1 !important;
}

.account-sentinel-table tr.origin--database.even td.col--by {
  background-color: #f6d8d8 !important;
}
